


.searchable_select {
    
}

.ss_btn {
    background-color: var(--ss_bg, #21242a);
    border: solid 1px var(--ss_bd, #404040);
    border-radius: 8px;
    font-size: 1em;
    color: var(--font-color, white);
    display: block;
    margin: 7px 5px;
    transition: all .2s ease-in-out;
    position: relative;
    padding: 9px 30px 9px 11px;
}
.ss_btn:after {
    border-bottom: 2px solid var(--font-color, white);
    border-right: 2px solid var(--font-color, white);
    content: "";
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all .15s ease-in-out;
    width: 5px;
}
.searchable_select.active .ss_btn:after {
    transform: rotate(-135deg);
}

.ss_dropdown {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index:100;
    height: max-content;
    background-color: var(--ss_bg, #21242a);
    border: solid 1px var(--ss_bd, #404040);
    border-radius: 4px;
    overflow-x: hidden;
    padding-bottom: 6px;
}
.searchable_select.active .ss_dropdown {
    opacity: 1;
    pointer-events: all;
}


.ss_search {

}

.ss_items {
    max-height: 130px;
    overflow-y:auto;
    scrollbar-color: #404040 #21242a00;
    scrollbar-width: thin;
    overflow-x: hidden;
}

.ss_items > .option {
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    padding: 10px 5px;
    transition: all .2s ease-in-out;
}
.ss_items > .option:hover {
    background-color: #2f2f2f;
}

.ss_items > .option.selected {
    border: solid 1px #404040;
    background-color: #272b33;
    font-weight: bold;
}

.ss_items > .option.filtered {
    display: none;
}
