


.searchable_select {
    
}

.ss_btn {
    background-color: var(--ss_bg, #21242a);
    border: solid 1px var(--ss_bd, #404040);
    border-radius: 8px;
    font-size: 1em;
    color: var(--font-color, white);
    display: block;
    margin: 7px 5px;
    transition: all .2s ease-in-out;
    position: relative;
    padding: 9px 30px 9px 11px;
}
.ss_btn:after {
    border-bottom: 2px solid var(--font-color, white);
    border-right: 2px solid var(--font-color, white);
    content: "";
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all .15s ease-in-out;
    width: 5px;
}
.searchable_select.active .ss_btn:after {
    transform: rotate(-135deg);
}

.ss_dropdown {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index:100;
    height: max-content;
    background-color: var(--ss_items_bg, #21242a);
    border: solid 1px var(--ss_items_bd, #404040);
    border-radius: 4px;
    overflow-x: hidden;
    padding-bottom: 6px;
}
.searchable_select.active .ss_dropdown {
    opacity: 1;
    pointer-events: all;
}


.ss_search {

}

.ss_items {
    max-height: 130px;
    overflow-y:auto;
    scrollbar-color: var(--ss_scrollbar);
    scrollbar-width: thin;
    overflow-x: hidden;
}

.ss_items > .option {
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    padding: 10px 5px;
    transition: all .2s ease-in-out;
}
.ss_items > .option:hover {
    background-color: var(--ss_option_hover_bg, #2f2f2f);
}

.ss_items > .option.selected {
    border: solid 1px var(--ss_active_item_bd, #404040);
    background-color: var(--ss_active_item_bg, #272b33);
    font-weight: bold;
}

.ss_items > .option.filtered {
    display: none;
}


#media_select_ctn {
    height: 50dvh;
    width: 50dvw;
    opacity: 1;
    pointer-events: all;
    padding: 1rem;
    border-radius: 1.5rem;
}

#media_select_ctn .media_ctn {
    
}

#media_select_ctn .media {
    aspect-ratio: 1 / 1;
    height: 15rem;
    overflow: hidden;
    position: relative;
    background-color: #2a2a3b;
    border-radius: 1rem;
    cursor:pointer;
}

#media_select_ctn .media:hover img {
    scale: 1.1;
}

#media_select_ctn .media img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: scale .2s ease-in-out;
}

#media_select_ctn .media p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    backdrop-filter: blur(2px);
    background-color: #1e1e2cba;
    padding: .3rem 0;
}



#prompt_ctn {
    opacity: 1;
    width: max-content;
    pointer-events: all;
    padding: 1rem;
    border-radius: 1.5rem;
}
#prompt_ctn h2 {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}
#prompt_ctn button {
    display: inline-block;
    margin: 0;
}
#prompt_ctn .prompt_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}