body {
    width: 100vw;
    overflow-x: clip;
    height: 100vh !important;
    max-height:100vh;
    overflow-y: hidden;
    position:fixed;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

#sidebar {
    position: relative;
    width:max-content;
    padding: 0 0.5em;
    background:var(--sidebar-bg);
    height: 100vh;
    /*min-height: calc(var(--vh, 1vh) * 100);*/
    margin: 0;
    transition: all .2s ease-in-out;
    box-shadow: 2px 0 5px -3px black;

    
}
#sidebar.active {
    padding: 0 1.7em;
}

#sidebar_logo {
    height: 3em;
}

#sidebar_title {
    margin-top:1em;
    margin-left: 0.4em;
    height: 3em;
    max-height:3em;
    width: max-content;
}

#sidebar_title h1 {
    font-size: 1em;
    display: inline-block;
    vertical-align: top;
    margin-top: 0.7em;
    margin-left: 6px;
    font-weight: bold;
    width:auto;
    overflow: hidden;
    transition: all .2s ease-in-out;
    max-width: 0;
    opacity: 0;
}
#sidebar.active #sidebar_title h1 {
    max-width: 150px;
    opacity: 1;
}

#sidebt_ctn {
    width: max-content;
    margin: 1.8em 0 .8em .5em;
}

.sidebt {
    width: 100%;
    text-align: left;
    background-color: transparent;
    color:var(--sidebt-color);
    font-size: 1.2em;
    margin: 0.5em 0;
    position: relative;
}
.sidebt i {
    margin-right: 12px;
    width: 26px;
    text-align: center;
}
.sidebt.active:before {
    content: "";
    display: block;
    height: 80%;
    width: 2px;
    background-color: var(--main-color);
    left: -4px;
    top: 10%;
    position: absolute;
    transition: all .2s ease-in-out;
}
#sidebar.active .sidebt.active:before {
    left:-10px;
}
.sidebt.active {
    color:var(--main-color);
}
.sidebt .text {
    width:auto;
    overflow-x: hidden;
    display: inline-block;
    vertical-align: sub;
    transition: all .2s ease-in-out;
    max-width: 0;
    opacity: 0;
}
#sidebar.active .sidebt .text {
    max-width: 150px;
    opacity: 1;
}



#sidebar_rdbt {
    position: absolute;
    top: 2.5em;
    right: 0;
    font-size: 1.6em;
    cursor: pointer;
    translate: 50% 0;
    color:var(--main-color);
    transition: all .2s ease-in-out;
}
#sidebar_rdbt:hover {
    transform: scale(1.07);
}
#sidebar_rdbt.active {

}

#main {
    padding: 2em 2em;
    width: max-content;
    max-width: calc(100% - 4em);
    max-height: 100vh;
    overflow-y: auto;
    height: calc(var(--vh)* 100 - 2em) !important;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: flex-start;
    flex-grow: 1;
    justify-content: flex-start;

    background-color: var(--bg-color);
    /*
    background: linear-gradient(15deg, rgba(242, 216, 245, 1) 0%, rgba(245, 216, 216, 1) 50%, rgba(207, 239, 252, 1) 100%);
    */
}

section {
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

section.active {
    display: flex;
}

subsection {
    display: none;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap:4em;
}
subsection.active {
    display: flex;
}

.left_side {
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    min-width: 100px;
    /* flex: 2; */
    /* max-width: 700px; */
    flex-direction: column;
}
.right_side {
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    min-width: 100px;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: center;
}
.fullctn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;

}

.cards_group {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    background-color: var(--card-bg);
    box-shadow: 0 0 4px -1px black;
    height: 12em;
    aspect-ratio: 4 / 3;
    padding: 1em;
    margin: .5em;
    
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
}
.card h1 {
    font-size: 1.3em;
    font-weight:bold;
}
.card content {
    display: flex;
    flex-grow: 1;
    width: 100%;
    margin-top: 8px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.card.bignumber content p {
    font-size: 3em;
    font-weight:bold;
}

.card.blue {
    background:linear-gradient(35deg, #2b5b9c, #d0e3fb);
}
.card.red {
    background:linear-gradient(35deg, #2b5b9c, #d0e3fb);
}
.card.rev {
    background-color: var(--main-color);
    color: var(--bg-color);
}
.card.sea {
    background: linear-gradient(15deg, #1dc9a3 0%, #1d516e 56%, #0e0f32 100%) center;
    color: var(--bg-color);
}
.card.dawn {
    background: linear-gradient(15deg, #eee6ba 0%, #cf8296 56%, #ee6174 100%) center;
    color:var(--bg-color);
}
.card.peach {
    background: linear-gradient(13deg, #c95b74 0%, #da8720 53%, #ebffa2 97%) center;
    color:var(--bg-color);
}



#section_header_ctn {
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    height: max-content;
    align-content: flex-end;
    align-items: center;
}

#section_title {
    font-size: 1.5em;
    display: inline-block;
    width: max-content;
    vertical-align: middle;
}

#back_bt {
    display: none;
    font-size: 2em;
    height: 1em;
    /* aspect-ratio: 1 / 1; */
    width: 1em;
    text-align: center;
    cursor: pointer;
    transition: scale .2s ease-in-out;
    vertical-align: middle;
}
#back_bt.active {
    display: inline-block;
}
#back_bt:hover {
    scale:1.07;
}

.mode_bt {
    font-size: 2em;
    position: absolute;
    cursor: pointer;
    color: var(--sidebt-color);
    transition: all .2s ease-in-out;
    pointer-events: none;
    opacity:0;

    bottom: .7em;
    left: .7em;
}
#sidebar.active .mode_bt {
    bottom: .7em;
    left: .7em;
}
#light_mode {
    rotate:90deg;
}
#light_mode.active {
    rotate:0deg;
    opacity:1;
    pointer-events: all;
}
#dark_mode {
    rotate:-90deg;
}
#dark_mode.active {
    rotate:0deg;
    opacity:1;
    pointer-events: all;
}

@media screen and (max-aspect-ratio: 1/1) {
    #sidebar {
        /*position: fixed;*/
        padding:0;
        height: calc(var(--vh)* 100 + 5px) !important;
    }
    #sidebar.active {
        padding: 0 .5em;
    }
    .sidebt i {
        margin-right: 0;
    }
    #sidebar_logo {
        height: 2em;
    }
    #sidebar_title {
        text-align: center;
        width: 100%;
    }
    #sidebt_ctn {
        margin: 1em 0 .8em 0em;
    }
    #sidebar.active .sidebt.active:before {
        left: 0px;
    }
    #sidebar_title h1 {
        display: block;
        margin-top: 4px;
        margin-left: 0px;
    }
    #sidebar_title {
        height: 5em;
        max-height: 5em;
        margin-left:0;
    }
    #sidebar_rdbt {
        right: 50%;
        top: 2.5em;
    }
    #sidebar.active #sidebar_rdbt {
        top: 3.2em;
        right:0;
    }
    #main {
        padding: 1em 1em;
    }
    .card {
        max-width: calc(100% - 2em);
        aspect-ratio: auto;
        height: max-content;
        width: 100%;
    }

    .mode_bt {
        font-size: 1.7em;
        bottom: .5em;
        left: .3em;
    }
    #sidebar.active .mode_bt {
        bottom: .8em;
        left: .7em;
        font-size: 2em;
    }

    subsection {
        flex-wrap: nowrap;
        align-content: flex-start;
        flex-direction: column;
        padding-bottom: 1em;
    }
    /*.left_side {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
    }*/
    .right_side {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: center;
    }
    .card {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        margin-bottom: .5em;
    }
    .fullctn {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        align-content: center;
        justify-content: flex-start;
    }
}