section#clients {

}

.table_filters {

}

.table_filters th {
    text-align: left;
    padding-bottom: .5em;
}
.table_filters th span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.table_filters th:first-child {
    padding-left: 10px;
}

.table {
    padding-bottom: 1em;
    border-collapse: separate;
    border-spacing: 0 3px;
    --br:5px;
    width: 100%;

    overflow-x: auto;
    max-width: 100%;
}

th, td {
    padding: 0 3px;
}

.table tbody tr {
    background-color: var(--card-bg);
    margin: 4px 0;
    padding: 13px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: filter .2s ease-in-out;
}
.table tbody tr:hover {
    /*background-color: #252536;*/
    filter: var(--client-hover-filter);
}

.table tbody tr td {
    padding: .8em 0;
}

.table tbody tr td:last-child {
    border-top-right-radius: var(--br);
    border-bottom-right-radius: var(--br);
}
.table tbody tr td:first-child {
    border-top-left-radius: var(--br);
    border-bottom-left-radius: var(--br);
    padding-left: 10px;

    border-left: none;
}

#cctn {
    height: calc(var(--vh)* 100 - 7em);
}

.filter span::after {
    content: "▼";
    display: inline-block;
}

.filter.asc span::after {
    content: "▲";
}

.bradd {
    position: fixed;
    bottom: 1em;
    right: 1em;
    height: 3em;
    fill: var(--main-color);
    cursor:pointer;
    transition: scale .2s ease-in-out;
}
.bradd:hover {
    scale:1.07;
}

.field_block {
    margin: .5em 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
}
.field_block.inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: .5em;
}

.table td.link {
    transition: all .2s ease-in-out;
}
.table td.link:hover {
    outline: solid 1px var(--main-color);
    background-color: var(--inp-hover-bg);
}

.details_textarea {
    resize: vertical;
    width: 100%;
    max-height: 500px;
    min-height: 51px;
}

@media screen and (max-aspect-ratio: 1/1) {
    .table_filters th {
        text-align: center;
    }
    td {
        text-align: center;
    }
    .table {
        display: block;
    }
}